/* ************ MAIN NOTES *********** *

/* Hover effects have been applied for links in the footer - whilst this might seem superfluous when viewd on mobile devices, if the user has an active stylus */
/* i.e. one that needs to be charged to work, then hover effects can be seen on some devices */

/* NOTE: Legacy Browsers */ 
/* Internet Explorer was officially retired in June 2022 */ 
/* and accounted for less than 1% of internet traffice in May 2021, and this site is aimed primarily at mobile users anyway */
/* this was deemed acceptable */
/* https://qz.com/2011408/some-companies-will-still-use-internet-explorer-after-its-retired */
/* pub#: may 20 2021, Nicolas Rivero on QZ.com */

/* ********** END MAIN NOTES ********* */

/* Begin Styling the page */

/*body {
  font-family: 'Red Hat Display', sans-serif;
  color: black;
  } */

.content {
  margin-top: 5px;
  background-color: white;
}

/* Nav Styles */

.PTnav a.logo {
  float: left;
  display: flex;
}

.PTnav img {
  height: 50px;
  width: 200px;
  padding: 0;
  margin-left: 10px;
  margin-top: 5px;
}

.PTnav {
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  overflow: hidden;
  background-color: #666;
  border: 2px solid black;
  border-radius: 5px;
  height: 60px;

}

.PTnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 8px;
  text-decoration: none;
  font-size: 16px;
  height: 100%;
}

a.active {
  background-color: darkorange;
  color: white;
  height: 100%;
}

.PTnav .icon {
  display: none;
  height: 100%;
  padding-right: 10px;
  font-size: 17pt;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height:100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  margin-top: -7px;
  background-color: #666;
  color: white;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.PTnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  height: 100%;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 800px) {
  .PTnav {
    height: auto;
  }
  .PTnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .PTnav a.icon {
    float: right;
    display: block;
  }

  .PTnav.responsive {
    position: relative;
    
  }

  .PTnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }

  .PTnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .PTnav.responsive .dropdown {float: none;}
  .PTnav.responsive .dropdown-content {position: relative;}
  .PTnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* END Nav Styles */


/* Main Body Styles */

/* Home Page Carousel*/

img.reload {
  padding: 0.25em;
  display: inline-block;
  position: relative;
  top: 6px;
  height: 0.9em;
}

.carousel {
  background-color: white;
  max-width: auto;
  border: 3px solid black;
  border-radius: 5px;
  padding: 0;
  margin-top: 5px;
}

.carousel .carousel-inner {
  position: relative;
}

.carousel .carousel-items {
  padding: 0px;
}

.carousel .carousel-item {
  display: none;
  max-height: auto;
  max-width: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel .carousel-item.active {
  background-color: darkorange;
  display: block;
}

.carousel .carousel-item .carousel-image a img {
  height: 100%;
  width: 100%;
}

.carousel .carousel-item .carousel-caption a {
  
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.carousel .carousel-item .carousel-caption a,
.carousel .carousel-item .carousel-caption span.descriptor {
  font-family: 'Red Hat Display', sans-serif;
  display: inline-block;
  margin: 0;
  padding: 6px;
  background-color: rgb(0 0 0 / 65%);
  border-radius: 5px;
  border: 0 solid transparent;
  font-size: 14px;
}

.carousel-items .carousel-image a {
  display: block;
  margin: 0;
  text-decoration: none;
  border: none;
}

.carousel-item .carousel-caption a {
  display: inline-block;
  margin: 0;
  color: black;
  background-color: transparent;
  border-radius: 5px;
}

.carousel-item .carousel-caption span.descriptor,
.carousel-item .carousel-caption span.descriptor:hover {
  background-color: transparent;
}

.carousel .carousel-item .carousel-caption a:hover,
.carousel .carousel-item .carousel-caption span.descriptor:hover {
  background-color: rgb(0 0 0 / 100%);
}

.carousel .carousel-item .carousel-caption a:active {
  padding: 4px;
  border: 2px solid #fff;
  background-color: rgb(0 0 0 / 100%);
  outline: none;
  border-width: 2px solid #fff;
  color: #fff;
}

.carousel .carousel-item .carousel-caption p {
  line-height: 1;
  margin-bottom: 0;
}

.carousel .carousel-item .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0;
  left: 15%;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
}

/* Shared CSS for Pause, Previous and Next Buttons */

.carousel .controls {
  box-sizing: border-box;
  position: absolute;
  top: 5px;
  z-index: 10;
  display: flex;
  width: 100%;
  padding: 0.25em 1.25em 0;
}

.carousel .controls button {
  position: absolute;
  z-index: 10;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

.carousel .controls button.previous {
  right: 65px;
}

.carousel .controls button.previous-small {
  display:none;
}

.carousel .controls button.next {
  right:18px;
}

.carousel .controls button.next-small {
  display: none;
}

.carousel .controls button.rotation-small {
  display: none;
}

.carousel .controls button.pause-small {
  display: none;
}





@media screen and (max-width: 800px) {

  .carousel .carousel-item .carousel-caption a,
  .carousel .carousel-item .carousel-caption span.descriptor {
    padding:3px;
  }

  .carousel .carousel-item .carousel-caption a,
  .carousel .carousel-item .carousel-caption span.descriptor {
    font-size: 10px;
  }

  .carousel .carousel-item .carousel-caption {
    padding-bottom: 6px;
  }

  .carousel .controls {
    top:0;
  }

  .carousel .controls button.previous {
    display:none;
  }

  .carousel .controls button.previous-small {
    display: flex;
    right: 38px;
  }

  .carousel .controls button.next {
    display:none;
  
  }  
  
  .carousel .controls button.next-small {
    display: flex;
    right: 5px;
  }
}





/* SVG Controls (play and Pause) */

.carousel .controls svg.sml-svg .background {
  visibility: hidden;
  stroke: black;
  fill: black;
  stroke-width: 1px;
  opacity: 0.6;
}

.carousel .controls svg.sml-svg .border {
  visibility:hidden;
  fill: transparent;
  stroke: transparent;
  stroke-width: 2px;
}

.carousel .controls svg.lrg-svg .background {
  stroke: black;
  fill: black;
  stroke-width: 1px;
  opacity: 0.6;
}

.carousel .controls svg.lrg-svg .border {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2px;
}

.carousel .controls svg .pause {
  stroke-width: 4;
  fill: transparent;
  stroke: transparent;
}

.carousel .controls svg .play {
  stroke-width: 1;
  fill: transparent;
  stroke: transparent;
}

.carousel .controls svg .play-small {
  visibility:hidden;
}

.carousel .controls svg .pause-small {
  visibility:hidden
}


@media screen and (max-width: 800px) { 
  .carousel .controls svg.sml-svg .background {
    visibility:visible;
  }
  
  .carousel .controls svg.sml-svg .border {
    visibility:visible;
  }

  .carousel .controls svg.lrg-svg .background {
    visibility:hidden;
  }
  
  .carousel .controls svg.lrg-svg .border {
    visibility:hidden;
  }

  .carousel .controls svg .pause {
    visibility:hidden
  }

  .carousel .controls svg .play {
    visibility:hidden;
  }

.carousel .controls svg .play-small {
  visibility:visible;
  stroke-width: 1;
  fill: transparent;
  stroke: transparent;
}

.carousel .controls svg .pause-small {
  visibility: visible;
  stroke-width: 4;
  fill: transparent;
  stroke: transparent;
}

.carousel .controls .pause svg .pause-small {
  fill: white;
  stroke: white;
}

.carousel .controls .play svg .play-small {
  fill: white;
  stroke: white;
}

}

.carousel .controls .pause svg .pause {
  fill: white;
  stroke: white;
}

.carousel .controls .play svg .play {
  fill: white;
  stroke: white;
}

.carousel .controls svg polygon {
  fill: white;
  stroke: white;
}

.carousel .controls button:active svg .background,
.carousel .controls button:hover svg .background,
.carousel .controls button:hover svg .border {
  fill: #005a9c;
  stroke: #005a9c;
  opacity: 1;
}

.carousel .controls button:active svg .border {
  stroke: white;
}

/* End Home Page Carousel Styles */



#intro-text h1, p {
  font-family: 'Red Hat Display', sans-serif;
  padding-left: 10px;
}

/* Styles blocks of content in main body on all pages (except What's On) */

#link-block {
  font-family: 'Red Hat Display', sans-serif;
  height: auto;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  display: table;
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 6px;
}

#link-block div {
  display: table-cell;
}

#link-block .event{
  display: flex;

}

#link-block div.venue {
  display: table-cell;
  vertical-align: text-top;
}


#link-block img.not-slides  { /* .not-slides distinguishes images in link-blocks from slide sets in img containers - :not() failed to work correctly*/
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  margin: 6px;
  
}

#link-block img.slides {
display:flex;
margin: 0;
float: left;

}

#link-block h2, h3, p, q {
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

.top {
  vertical-align: top;
  margin-top:0;
  padding-top: 0;
}

@media screen and (max-width: 600px)
#link-block h2, h3, p, q {
  padding-left: 5px;
}

.venue {
  padding-left: 15px;

}

#link-block a {
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
}

.map {
  display: block;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


@media screen and ( max-width: 800px) {

  #link-block {
    display: block;
  }
 
 #link-block div {
    display: block;
    margin: auto;
    padding: 5px;
  }

  #link-block img.not-slides { 
    height: auto;
    width: 98%;
    border: 1px solid black;
    border-radius: 5px;
  }	

}

@media screen and (max-width: 600px) {
  
  #link-block img.not-slides {
    float: none;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 6px;
    width: 96%;
  }

}

/*slideshow on content pages using keyframes*/

#slideshow {
  padding: 0;
  display:table-cell;
  width: 372px;
  height: 248px;
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  filter: drop-shadow(3px 3px 3px black);
}

#slideshow img {
  position: absolute;
  left: 0;
  top: 0;
  animation: slide 15s infinite;
  animation-delay: 2s;
  box-sizing: content-box;
}



@media screen and (max-width: 600px) {

  #slideshow {
    width: 85%;
  }

}
  
@keyframes slide { /* keyframes used to move each frame on slider image into the slideshow window */
  0% {
    transform: translateX(0px)
  }
  25% {
    transform: translateX(-383px)
  }
  50% {
    transform: translateX(-766px)
  }
  75% {
    transform: translateX(-1149px)
  }
  100% {
    transform: translateX(-1532px)
  }
}
/* End Slideshow*/

/* Contact Us Page Styles */

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  min-height: 50px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  background: white;
  font-size: larger;
}

textarea{
  height: 200px;
}

input[type=email], select, textarea{
  width: 100%;
  min-height: 50px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  background: white;
  font-size: larger;
}

/* Style the label to display next to the inputs */

label {
  font-family: 'Red Hat Display', sans-serif;
  color: black;
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-left: 5px;
  font-size: larger;
  font-weight: bold;
  align:right;
}

/* Style the submit button */

input[type=submit] {
  background-color: MediumSeaGreen;
  color: white;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  vertical-align: middle;
  filter: drop-shadow(4px 4px 5px #666);
}

/* Style the container */

.container {
  max-width: 100%; 
}

.container img {
  border: 1px solid black;
  border-radius: 5px;
  width:100%;
}

.container section {
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 6px;
  margin-bottom: 5px;
}

.container h1, h2, h3, p, q {
  font-family: 'Red Hat Display', sans-serif;
  padding-left: 10px;

}

/* Floating column for labels: 25% width */

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* jQuery-validate response styling */

.error {
  font-family: 'Red Hat Display', sans-serif;
	color: Crimson;
  font-weight: bold;
}	

input.error, textarea.error {
	border: 3px solid Crimson;
}

input.valid, textarea.valid {
	border: 3px solid MediumSeaGreen ;
}

/* End form validation styles*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* END Contact form styles */

/* End MainBody Styles */


/*Footer Styles */

.footer {
    min-height: 180px;
    height: auto;
    background-color: #666;
    color: white;
    padding-left: 0px;
    padding-right: 10px;
    font-family: 'Red Hat Display', sans-serif;
    border: 3px solid  black;
    border-radius: 5px;
}

.footer div:first-child {
    float: left;
    text-align:left;
    width: 60%;  
}

.footer div:nth-child(2) {
    float: right;
    text-align:right;
    width: 20%;
}

.footer div:last-child{
    float: right;
    text-align:right;
    width: 20%;
}

.footer a {
	text-decoration: none;
	color: #efefef;
	
}
    
.footer a:hover {
    color: yellow;
    font-weight:900;
    font-size: larger;
  }

.footer #about img {
    margin-bottom: 30px;
}

.footer #about img:hover {
  filter: drop-shadow(4px 4px 5px whitesmoke);
}

.footer ul {
    list-style-type: none;
} 

.footer #social {
  display: flex;
}

.footer #social img {
  width: 40px; 
  height: 40px;
  margin-left: 10px;
  margin-top: 8px;
  border: 1.5px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.footer #social img:hover {
  filter: drop-shadow(4px 4px 5px whitesmoke);
}

@media screen and (max-width: 899px) {

  .footer #social img {
    width: 30px; 
    height: 30px;
    margin-left: 6px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 500px) {

  .footer {
    font-size: 10px;
  }

  .footer #social img {
    width: 20px; 
    height: 20px;
    margin-left: 6px;
    margin-top: 8px;
  }
}

/* End Footer Styles */

/* END OF CSS - No code to go after this point */
